@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  color: #333333;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.portrait {
  width: 400px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

label {
  font-family: "Roboto Condensed", sans-serif;
}



#geolocation-button {
  padding: 8px 93px;
}

.column {
  float: left;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.login-width {
  width: 96%;
}

/* .userDisplay {
    display: flex;
    flex-direction: column;
} */

.underline {
  border: 2px solid black;
  width: fit-content;
  box-shadow: 2px 2px;
  padding-left: 10px;
}

.myinput {
  width: 100%;
}

.container {
  width: 750px;
  height: 450px;
  display: flex;
}

.small-container {
  width: 33.33%;
  background-color: rgba(255, 255, 255, 0.918);
}

.shadow {
  box-shadow: 3px 0px 8px 0px #888888;
  padding: 5px;
}

.avatarInfo {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

.border {
  border: 1px solid black;
  margin: 12px;
  border-radius: 2px;
}

.flexing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myButton {
  margin: 8px;
  width: 170px;
}

.moustache {
  margin-top: -43px;
  width: 60%;
  height: 34%;
}

.mongodb {
  width: 140%;
  height: 45%;
}

.express {
  margin-top: -16px;
  width: 70%;
  height: 13%;
}

.node {
  margin-top: 20px;
  width: 62%;
  height: 22%;
}

.notFound {
  margin-top: -25px;
  margin-left: 55px;
  width: 86%;
  height: 107%;
}

.formPadding {
  padding: 5px 15px 5px 15px;
}

.handlebars {
  margin: -40px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.myTasks {
  overflow-y: scroll;
  width: inherit;
  border-top: 1px solid #dddddd;
  margin-top: 2px;
}

.task {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

.deleteButton {
  cursor: pointer;
  border: none;
  background: none;
}


.w3-check {
  width: 20px;
}

